In [9]:
import pandas as pd 
import numpy as np

In [10]:
df0 = pd.read_csv('sales_stores.csv')
df0.head(2)

   Store Type  Dept  Weekly_Sales  IsHoliday        Date
0      1    A     1      24924.50      False  05/02/2010
1      1    A     1      46039.49       True  12/02/2010

In [11]:
df0.shape

(421570, 6)

In [12]:
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Type          421570 non-null  object
 2   Dept          421570 non-null  int64
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
 5   Date          421570 non-null  object
dtypes: bool(1), float64(1), int64(2), object(2)
memory usage: 16.5+ MB

In [13]:
df1 = df0.copy()

In [14]:
df1['Date'] = pd.to_datetime(df1['Date'], format='%d/%m/%Y')

In [15]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Type          421570 non-null  object
 2   Dept          421570 non-null  int64
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
 5   Date          421570 non-null  datetime64[ns]
dtypes: bool(1), datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 16.5+ MB

In [16]:
df2 = df1.copy()

In [17]:
df2['IsHoliday'] = df2['IsHoliday'].replace(
    {
        True:1,
        False:0
    }
)

C:\Users\willi\AppData\Local\Temp\ipykernel_19192\3976020221.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2['IsHoliday'] = df2['IsHoliday'].replace(

In [18]:
df2.head(2)

   Store Type  Dept  Weekly_Sales  IsHoliday       Date
0      1    A     1      24924.50          0 2010-02-05
1      1    A     1      46039.49          1 2010-02-12

In [19]:
df2.tail(2)

        Store Type  Dept  Weekly_Sales  IsHoliday       Date
421568     45    B    98        760.01          0 2012-10-19
421569     45    B    98       1076.80          0 2012-10-26

In [20]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Type          421570 non-null  object
 2   Dept          421570 non-null  int64
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  int64
 5   Date          421570 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(3), object(1)
memory usage: 19.3+ MB

In [21]:
df2['year'] = pd.DatetimeIndex(df2['Date']).year

In [22]:
df2.tail(2)

        Store Type  Dept  Weekly_Sales  IsHoliday       Date  year
421568     45    B    98        760.01          0 2012-10-19  2012
421569     45    B    98       1076.80          0 2012-10-26  2012

In [23]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Type          421570 non-null  object
 2   Dept          421570 non-null  int64
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  int64
 5   Date          421570 non-null  datetime64[ns]
 6   year          421570 non-null  int32
dtypes: datetime64[ns](1), float64(1), int32(1), int64(3), object(1)
memory usage: 20.9+ MB

In [24]:
df_2010 = df2[ df2['year'] == 2010]
df_2010.reset_index(inplace=True)

In [25]:
df_2010.head(2)

   index  Store Type  Dept  Weekly_Sales  IsHoliday       Date  year
0      0      1    A     1      24924.50          0 2010-02-05  2010
1      1      1    A     1      46039.49          1 2010-02-12  2010

In [26]:
df_2011 = df2[ df2['year'] == 2011]
df_2011.reset_index(inplace=True)

df_2012 = df2[ df2['year'] == 2012]
df_2012.reset_index(inplace=True)

In [27]:
# exporta dataset por year
df_2010.to_csv('data_2010.csv', index=False)
df_2011.to_csv('data_2011.csv', index=False)
df_2012.to_csv('data_2012.csv', index=False)